*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#000;
font-family:Arial,Helvetica,sans-serif;
}

.video{
opacity:0;
animation:fadeVideo 1s forwards;
}

.video video{
width:100%;
display:block;
}

.conteudo{
padding:15px;
}

.convite-img{

width:100%;
display:block;
border-radius:18px;

opacity:0;
transform:translateY(40px);
transition:.8s;

}

.botao{

display:block;

width:100%;

padding:18px;

margin-top:25px;

border:none;

border-radius:15px;

background:#25D366;

color:white;

text-align:center;

text-decoration:none;

font-size:22px;

font-weight:bold;

cursor:pointer;

opacity:0;

transform:translateY(40px);

transition:.8s;

}

.mostrar{

opacity:1!important;

transform:translateY(0)!important;

}

.botao:hover{

transform:scale(1.03);

}

@keyframes fadeVideo{

from{

opacity:0;

}

to{

opacity:1;

}

}
