*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,
body{

width:100%;
height:100%;

background:#000;

font-family:Arial,Helvetica,sans-serif;

overflow:hidden;

}

/* ================= VIDEO ================= */

.video-tela{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

display:flex;

justify-content:center;
align-items:center;

background:#000;

transition:.6s;

z-index:2;

}

.video-tela video{

width:100%;
height:100%;

object-fit:contain;

background:#000;

}

.sumir{

opacity:0;

}

/* ================= CONVITE ================= */

.convite-tela{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:#000;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

padding:20px;

opacity:0;

transition:.8s;

z-index:1;

}

.mostrar{

opacity:1;

}

.convite-img{

width:100%;

max-width:500px;

border-radius:18px;

box-shadow:0 15px 40px rgba(0,0,0,.35);

}

/* ================= BOTÃO ================= */

.botao{

margin-top:25px;

width:100%;

max-width:500px;

padding:18px;

background:#25D366;

color:#fff;

text-decoration:none;

font-size:22px;

font-weight:bold;

text-align:center;

border-radius:15px;

opacity:0;

transform:translateY(25px);

transition:.6s;

}

.mostrarBotao{

opacity:1;

transform:translateY(0);

}

.botao:hover{

transform:translateY(0) scale(1.03);

}
