*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,
body{

width:100%;
height:100%;

font-family:Arial,Helvetica,sans-serif;

background:#000;

overflow:hidden;

}

.tela{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

display:none;

justify-content:center;

align-items:center;

flex-direction:column;

padding:20px;

background:#000;

}

.tela.ativa{

display:flex;

}

/* VIDEO */

video{

width:100%;

max-width:500px;

max-height:100%;

display:block;

}

/* CONVITE */

.convite{

width:100%;

max-width:500px;

border-radius:18px;

display:block;

}

/* BOTÃO */

.botao{

display:block;

width:100%;

max-width:500px;

margin-top:20px;

padding:18px;

background:#25D366;

color:#fff;

text-decoration:none;

text-align:center;

font-size:22px;

font-weight:bold;

border-radius:15px;

transition:.3s;

}

.botao:hover{

transform:scale(1.03);

}
